# Keil uVision generated output
/ProjectSTM32F429/build/
/ProjectSTM32F429/ANO-LX.bin

# Keil per-user project state
/ProjectSTM32F429/*.uvoptx
/ProjectSTM32F429/*.uvguix.*
/ProjectSTM32F429/*.uvtmp
/ProjectSTM32F429/*.bak

# Debugger session logs
/ProjectSTM32F429/JLinkLog.txt
/AT32F415_Remote_Controller
/E06_uart_lora3a22_demo